@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&display=swap');

/*remove default margin, padding and border*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    color: #3a3a3a;
}

/*headings and logo*/

/*style navbar*/

nav {
    width: 100%;
    margin: 20px 0;
}

/*style logo*/

#logo {
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
}

/*remove list style from the menu links*/

.flex-links {
    list-style: none;
}

/*style the links inside the navbar*/

.nav-item a {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #186577ff;
    font-size: 1.5em;
}

/*style links on hover and when active*/

.nav-item a:hover {
    color: #846577ff;
    border-bottom: 2px solid #846577ff;
}

.active {
    border-bottom: 2px solid #846577ff;
}

/*flex containers for responsive header*/

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.flex-links {
    display: flex;
    flex-flow: row wrap;
}

/*style headings throughout the whole site*/

h1,
h2 {
    font-family: Courgette, cursive;
    letter-spacing: 4px;
    color: #186577;
}

h3 {
    font-family: Montserrat, sans-serif;
    color: #3a3a3a;
    text-transform: capitalize;
    letter-spacing: 4px;
}

/*hero image and cover text*/

/*move hero image below the header*/

#hero-outer {
    height: 95vh;
    width: 100%;
    overflow: hidden;
}

/*set size, fall back color, background image and position of the hero image*/

#hero-image {
    height: 95vh;
    background: #c9c9c9ff url(..//images/hero-image.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

/*style the hero text*/

#hero-text p {
    color: #2a2d32;
    font-size: 6.5vh;
    font-family: Courgette, cursive;
    letter-spacing: 4px;
    border-radius: 15px;
}

/*position the hero text in the center of the hero image */

#hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*style and position the hero text button*/

#hero-image .button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #186577ff;
    font-size: 2vh;
    padding: .7em;
    text-align: center;
    border-radius: 15px;

    /*add shadow to the button, code taken from https://www.w3schools.com/css/css3_buttons.asp*/

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*add hover effect to the button*/

#hero-image .button:hover {
    background-color: #846577ff;
}

/*remove text decoration and change color of links on buttons*/

.button a {
    text-decoration: none;
    color: white;
}

/*overlay cover text*/

#cover-text {
    /*add oppacity to the background for better contrast between text and background*/
    background-color: rgba(132, 101, 119, .8);

    color: white;
    font-size: 2vh;
    height: 10vh;
    width: 25vh;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 5%;

    top: 20px;

    position: absolute;
}

/*quote*/

/*create quote separate from other text, taken from https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/*/

.quote {
    padding: 1.5em;
    margin-top: 0.5em;
    font-size: 2.5vh;
    text-align: center;
}

/*specify quotation marks for the quote, taken from https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/*/

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote {
    quotes: "“""”""‘""’";
}

/*Writing Room group mission*/

/*style and position the group mission heading*/

h2 {
    text-align: center;
    font-size: 300%;
    margin: 50px 0;
    text-transform: capitalize;
}

/*flex container for reasons section*/
.flex-reasons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*style and position individual divs*/

.flex-reasons>div {
    width: 300px;
    height: 10vh;
    margin: 50px 10px;
    text-align: center;
    justify-content: center;
}

/*temp structure*/

#reason-one,
#reason-two,
#reason-three,
#reason-four {
    line-height: 30px;
}

/*style group about-writingroom section*/

/*flex about writing room section*/

.flex-writingroom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#about-writingroom {
    /*add transparency to the background*/
    background-color: rgba(197, 224, 216, .4);
    width: 800px;
    margin: 10px;
    line-height: 1.5em;
    font-size: medium;
    padding: 1em;
    border-radius: 15px;
}

/*style and position the photo*/

#mission-photo {
    width: 500px;
    margin: 10px;
    background: #c9c9c9ff url("../images/about-writing-room.webp") no-repeat center center;
    height: 350px;
    background-size: cover;
    border-radius: 15px;
}

/*style and center the buttons for the remainder of the page*/

.flex-button {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #186577ff;
    font-size: 2vh;
    padding: .7em;
    margin: 20px 0;
    text-align: center;
    border-radius: 15px;
}

.button:hover {
    background-color: #846577ff;
}

/*mindful writing section*/

#mindful-writing {
    background-color: rgba(132, 101, 119, .2);
    padding-bottom: 75px;
}

#mindful-writing h2 {
    padding-top: 30px;
}

/*flex container for mindful writing section*/

.flex-mindfulness {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*style flex items of mindful writing section*/

.flex-mindfulness>div {
    text-align: left;
}

/*style and position the mindful-photo background*/

#mindful-photo {
    width: 500px;
    margin: 10px;
    background: #c9c9c9ff url("../images/mindful-writing.webp") no-repeat center center;
    height: 350px;
    background-size: cover;
    border-radius: 15px;
}

#mindful-text {
    background-color: white;
    width: 800px;
    margin: 10px;
    line-height: 1.5em;
    font-size: medium;
    padding: 1em;
    border-radius: 15px;
}

#mindful-text a {
    color: #186577ff;
}

#mindful-text a:hover {
    color: #846577ff;
}

/*schedule of events section*/

/*flex container for the events blocks*/

.flex-events {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-events>div {
    width: 350px;
    height: 400px;
    margin: 40px 10px;
    text-align: center;
    line-height: 75px;
    border-radius: 15px;
}

/*style paragraph text in the events section*/

#events-schedule p {
    line-height: 1.5em;
    text-align: center;
}

/*style event column boxes*/

.paragraph-box {
    width: 80%;
    height: 70%;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
}

#morning-pages,
#critique-workshop {
    background-color: rgba(197, 224, 216, .8)
}

#writing-cafe,
#mindful-reader {
    background-color: rgba(132, 101, 119, .6);
}

/*style paragraph text within the event columns*/

.paragraph-box p {
    padding-top: 20px;
}

/*past events gallery*/

#past-events {
    background-color: rgba(197, 224, 216, .4);
    text-align: center;
    padding-top: 5px;
}

/*add images to gallery and masonry styling with 4 columns on desktop*/
.gallery {
    column-count: 4;
    line-height: auto;
    column-gap: 5px;
    margin-top: 25px;
}

.gallery>img {
    width: 100%;
}

/*location section*/

#address {
    background-color: red;
}

#map {
    background-color: blue;
}

.flex-location {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-location >div {
    width: 40%;
}