@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&display=swap');

/*remove default margin, padding and border*/
* {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x:hidden;
}

/*set font family and color for the body*/

body {
    font-family: Montserrat, sans-serif;
    color: #3a3a3a;
}

/*headings and logo*/

/*style h1 and logo*/

.logo {
    display: inline-block;
    font-size: 2.5em;
    padding: 10px;
    margin: 10px 0 0 20px;
    font-family: Courgette, cursive;
    letter-spacing: 4px;
    color: #186577;
}
/*style and position h2 headings throughout the site*/

.intro {
    font-family: Courgette, cursive;
    letter-spacing: 4px;
    color: #186577;
    text-align: center;
    font-size: 3em;
    margin: 50px 0;
    text-transform: capitalize;
}

/*style h3 headings throughout the site*/

.category {
    font-family: Montserrat, sans-serif;
    color: #3a3a3a;
    text-transform: capitalize;
    letter-spacing: 4px;
}

/*style fixed navbar*/

nav {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: white;
    
    /*add z-index to keep the navbar on the top of other content*/
    z-index: 1000;
}

/*style the links inside the navbar*/

.nav-item a {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #186577ff;
    font-size: 1.5em;
}

/*style navbar links on hover and when active*/

.nav-item a:hover {
    color: #846577ff;
    border-bottom: 2px solid #846577ff;
}

.active {
    border-bottom: 2px solid #846577ff;
}

/*specify flex container for logo and navigation menu for responsiveness*/

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.nav-links {
    margin-left: 20px;
    display: flex;
    flex-flow: row wrap;

/*remove list style from the menu links*/
    list-style: none;
}

/*hero image with a slogan, overlay text and call to action button*/

#hero-outer {
    /*top margin set to match the height of the header and display the hero image underneath it*/
    margin-top: 150px;

    width: 100%;
    overflow: hidden;
}

/*set size, fall-back color, background image and position of the hero image*/

#hero-image {
    height: 95vh;
    background: #c9c9c9ff url("..//images/hero-image.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

/*style the hero text slogan and position it in the center of the hero image*/

#hero-text h2 {
    text-transform: lowercase;
    color: #2a2d32;
    font-size: 3em;
    font-family: Courgette, cursive;
    letter-spacing: 4px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*style the call to action button, same throughout the whole site */

.button {
    background-color: #186577ff;
    font-size: 1.2em;
    padding: .7em;
    margin: 20px 0 40px;
    text-align: center;
    border-radius: 15px;

    /*add shadow to the button, code taken from https://www.w3schools.com/css/css3_buttons.asp*/

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /*remove text decoration and change color of links on buttons*/
    text-decoration: none;
    color: white;
}

/*add hover effect to the buttons by changing its color*/

.button:hover {
    background-color: #846577ff;
}

/*style and position the hero text button specifically in the center of the hero image*/

#hero-image .button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*style and position overlay cover text*/

#cover-text {
    /*add oppacity to the background for better contrast between text and background*/
    background-color: rgba(132, 101, 119, .8);

    color: white;
    font-size: 2vh;
    height: 10vh;
    width: 25vh;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 5%;

    top: 20px;

    position: absolute;
}

/*quote*/

/*create quote separate from other text, taken from https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/*/

.quote {
    padding: 1.5em;
    margin-top: 0.5em;
    font-size: 2.5vh;
    text-align: center;
}

/*specify style of quotation marks for the quote, taken from https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/*/

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}

/*Writing Room group background and mission section*/

/*specify responsive flex container for reasons to join the group grouped in 4 divs*/
.flex-reasons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*style and position individual divs*/

.flex-reasons > div {
    width: 300px;
    height: 10vh;
    margin: 50px 10px;
    text-align: center;
    justify-content: center;
    line-height: 30px;
}

/*specify responsive flex container for writing room background text*/

.flex-writingroom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#about-writingroom {
    /*add transparency to the background*/
    background-color: rgba(197, 224, 216, .4);
    width: 800px;
    margin: 10px;
    line-height: 1.5em;
    font-size: medium;
    padding: 1em;
    border-radius: 15px;
}

/*style and position the background image*/

#mission-photo {
    width: 500px;
    margin: 10px;
    background: #c9c9c9ff url("../images/about-writing-room.webp") no-repeat center center;
    height: 350px;
    background-size: cover;
    border-radius: 15px;
}

/*position the buttons for the remainder of the page, outside of hero image*/

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*mindful writing section*/

/*style section background*/

#mindful-writing {
    background-color: rgba(132, 101, 119, .2);
    padding-bottom: 15px;
}

/*add padding to the top of the heading for breathing space*/

#mindful-writing h2 {
    padding-top: 30px;
}

/*specify flex container for mindful writing text block and decorative background image*/

.flex-mindfulness {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*style divs of the mindful writing section*/

.flex-mindfulness > div {
    text-align: left;
}

/*style and position the mindful-photo background*/

#mindful-photo {
    width: 500px;
    margin: 10px;
    background: #c9c9c9ff url("../images/morning-pages.webp") no-repeat center center;
    height: 500px;
    background-size: cover;
    border-radius: 15px;
}

#mindful-text {
    background-color: white;
    width: 800px;
    margin: 10px;
    line-height: 1.5em;
    font-size: medium;
    padding: 1em;
    border-radius: 15px;
}

#mindful-text a {
    color: #186577ff;
}

#mindful-text a:hover {
    color: #846577ff;
}

/*schedule of events section*/

/*specify flex container for the events text blocks and button*/

.flex-events {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-events > div {
    width: 350px;
    height: 400px;
    margin: 40px 10px;
    text-align: center;
    line-height: 75px;
    border-radius: 15px;
}

/*style paragraph text in the events section*/

#events-schedule p {
    line-height: 1.5em;
    text-align: center;
}

#events-schedule > p {
    margin: 0 10px 0;
}

/*style event boxes*/

.paragraph-box {
    width: 80%;
    height: 70%;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
}

/*add background color to event box 1 and 3*/
#morning-pages,
#critique-workshop {
    background-color: rgba(197, 224, 216, .8)
}

/*add background color to event box 2 and 4*/
#writing-cafe,
#mindful-reader {
    background-color: rgba(132, 101, 119, .6);
}

/*style paragraph text within the event boxes*/

.paragraph-box p {
    padding-top: 20px;
}

/*gallery section*/

/*style text for the whole section*/
#past-events {
    text-align: center;
    padding: 5px 0;
}

#past-events p {
    margin: 0 10px;
    line-height: 1.5em;
}

/*add images to gallery and masonry styling with 4 columns on desktop*/
.gallery {
    column-count: 4;
    column-gap: 5px;
    margin-top: 25px;
}

.gallery > img {
    width: 100%;
}

/*location section*/

/*specify flex container for location text and map*/

.flex-location {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*style location text and map*/

.flex-location > div {
    text-align: left;
    padding: 10px;
    margin: 10px;
    line-height: 1.5em;
}

/*style map iframe*/

#map {
    border: 2px solid rgba(132, 101, 119, .2);
    border-radius: 15px;
}

/*add padding at the top of the heading for breathing space*/

#location > h2 {
    padding-top: 20px;
}

/*contact and signup form section*/

/*add padding to the section and section heading for breathing space*/

#form-section {
    padding-bottom: 50px;
}

#form-section > h2 {
    padding-top: 50px;
}

/*style contact form*/

.signup-form {
    background-color: rgba(201, 201, 201, .5);
    width: 50%;
    margin: auto;
    padding: 30px 30px 0;
    border-radius: 15px;
    border: 2px solid rgba(201, 201, 201, 1);

    /*box shadow code from here https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.text-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 5px;
}

/*add margin to radio input to spread them apart from each other*/
.form-block {
    margin: 0 0 20px 10px;
}

/*style main message field*/
#message-field {
    width: 100%;
    border-radius: 5px;
}

/*style form submit button*/
#signup-button {
    width: 100%;
    color: white;
}

/*footer section*/

/*set and style flex container for footer with social links, newsletter signup form and back to top button*/

footer {
    background: #846577ff;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

/*style social links and icons in the footer*/

.flex-social-links {
    margin-bottom: 10px;
}

.flex-social-links > li {
    display: inline-block;
}

.flex-social-links i {
    font-size: 3em;
    color: white;
    padding: 5px;
}

/*style newsletter signup form in the footer*/

#newsletter-email {
    width: 200px;
    padding: .7rem;
    font-size: 1rem;
}

#newsletter-button {
    color: white;
    font-size: 1rem;
}

#newsletter-button:hover {
    color: #186577ff;
    background-color: white;
}

/*style back to top button in the footer on hover*/

#footer-button:hover {
    background-color: white;
}

#footer-button p:hover {
    color: #186577ff;
}

/*2nd page - Morning Pages*/

/*position the section in the page*/

.morning-pages {
    margin-top: 150px;
    margin-bottom: 100px;
}

/*set responsive flex container for text block and background image*/

.flex-morning {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/*style morning pages text block*/

.morning-text {
    width: 600px;
    line-height: 1.5em;
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
    list-style-position: inside;
}

/*add padding to headings and paragraphs*/

.about-pages {
    padding-left: 20px;
    padding-top: 20px;
}

/*style hr line*/

hr {
    border: 2px solid #846577ff;
    margin: 10px 0;
}

/*style background image to compliment the text block*/

.morning-section {
    background-color: #c9c9c9ff;
    background-image: url("../images/morning-pages2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 650px;
    width: 600px;

    padding: 30px;
    margin: 20px;
    border-radius: 15px;
}

/*media queries*/

/*on screens smaller than 900px, reduce the font size to keep the logo and links on the same line*/

@media screen and (max-width: 900px) {
    .logo {
        font-size: 2em;
    }

    .nav-item a{
        font-size: 1.3em;
    }

    /*reduce number of columns to be displayed to 3*/
    .gallery {
        column-count: 3;
    }
} 

/*on screens smaller than 550px, reduce the font size to keep logo and links on the same line*/

@media screen and (max-width: 550px) {

    .logo {
        font-size: 2em;
        /*add margin to create space between the logo and the top of the screen*/
        margin-top: 10px;
    }

    .nav-item a{
        font-size: 1em;
    }

    #hero-text h2 {
        font-size: 2em;
    }
    
    .intro {
        font-size: 2em;
    }

     /*reduce number of columns to be displayed to 3*/
    .gallery {
        column-count: 2;
    }
      
} 

/*on screens 414px or smaller, reduce the font size to keep logo and links on the same line, add margin to logo to create space between elements*/

@media screen and (max-width: 414px) {
    .logo {
        font-size: 2em;
        margin: 10px 0 20px 10px;
    }

    .nav-item a{
        font-size: 0.8em;
        padding: 0;
    }

    /*center content in the flex container*/
    .flex-container {
        align-content: center;
    }

    /*reduce size of hero image slogan to display it in max. 2 lines on mobile screen*/
    #hero-text h2 {
        font-size: 1.5em;
    }

    .signup-form > label{
        font-size: 0.9em;
    }

    .flex-newsletter {
        text-align: center;
    }

    #newsletter-email {
        margin-bottom: 0;
    }
} 